{
	email guneetaggarwal@gmail.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}

	metrics {
		per_host
		observe_catchall_hosts
	}

	admin 0.0.0.0:2019 {
	        origins *
	}
}

easyshell.sh {
	reverse_proxy easyshell-prod-website:3000
}

books.guneet.dev {
	reverse_proxy https://books.guneet.xyz {
		header_up Host books.guneet.dev
	}
}

demo.guneet.dev {
	reverse_proxy proxy-ts:80
}

walls.guneet.dev {
	reverse_proxy walls:3000
}
